<div layout="column" layout-fill>
	<div layout="row" flex="5" layout-align="end center center" class="top-content">
		<md-menu> 
			<md-button ng-click="$mdMenu.open(event)"> 
				<md-icon md-font-icon="fa fa-user-circle-o" style="font-size: 22px;"></md-icon>
				<span id="userName" ng-bind="user.userName"></span>
			</md-button> 
			<md-menu-content width="3">
				<md-menu-item> 
					<md-button ng-click="signOut($event)"> 
						<md-icon md-font-icon="fa fa-sign-out" style="font-size: 22px;"></md-icon>
						<span>退出</span>
					</md-button> 
				</md-menu-item>
			</md-menu-content> 
		</md-menu>
	</div>
	<div layout="row"  flex="95">
		<div flex="20" style="border: 1px solid #DDDDDD">
			<md-list class="doc-list" ng-repeat="menu in menuList" > 
				<md-subheader class="subheader">
					<md-list-item  ng-click="openChildMenuList($event, menu, $index)">
						<div class="md-list-item-text" layout="row">
							<md-icon md-font-icon="fa fa-book fa-lg" class="doc-icon"></md-icon>
							<span>{{menu.menuName}}</span>
							<md-icon class="md-secondary end-icon" md-font-icon="fa fa-chevron-down"></md-icon>
						</div>
					</md-list-item>
					<md-divider></md-divider>
				</md-subheader>
				<md-list-item class="md-line chile-menu-list" 
							ng-repeat="child in menu.childMenuList" 
							ng-if="child.parentMenuId == parentMenuId" 
							ng-click="clickChildMenu($event, $index, child)">
					<div class="md-list-item-text" layout="row">
						<md-icon md-font-icon="fa fa-file-text" class="doc-icon"></md-icon>
						<span>{{child.menuName}}</span>
					</div>
				</md-list-item>
			</md-list>
		</div>
		<div flex="80">
			<div layout="column" layout-fill ui-view='doc'></div>
		</div>
	</div>
</div>
